@charset "UTF-8";

:root {
    --cor01: #2B0131;
    --cor02: #4675FC;
    --cor03: #C55DFE;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor01));
}

section#login {
    width: 75vw;
    height: 530px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c65dfe3a;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem {
    background-image: url(../imagens/pexels-tom-swinnen-1309766\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    height: 40%;
    display: block;

}

div#formulario {
    display: block;
    padding: 15px;
}

div#formulario h1 {
    text-align: center;
}

div#formulario p {
    font-size: 0.9em;
    padding-top: 3px;
}

div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--cor01);
    padding: 3px;
    margin: 5px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}

div.campo label {
    display: none;
}

div.campo span {
    width: 35px;
    font-size: 1.5;
    padding: 5px;
}

div.campo input {
    background-color: #e4adff;
    height: 100%;
    width: calc(100% - 40px);
    transform: translateY(-6px);
    border-radius: 8px;
    font-size: 1em;
    border: none;
    padding: 3px;
}

div.campo input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--cor02);
    border-radius: 8px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #263f88;
}

form > a.botao {
    text-align: center;
    font-size: 0.9em;
    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #c65dfe3a;
    border-radius: 8px;
    margin-top: 5px;
    padding-top: 2px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}

form > a.botao:hover {
    background-color: #502766;
    color: white;
    border: 1px solid white;
}